<div class="banner-container">
  <div class="title">Better than <span class="accent-span">CASUALLY</span> earning digital badges? Doing it <span class="accent-span">RANKED</span>!</div>
  <div class="description">Earn badges & tokens while doing what you like. Gather as many as you want, be ready to show off and take that first place in the scoreboard!</div>
  <div class="subscription">Do you want your first badge? <a routerLink="/register" class="register-btn">Register now!</a> </div>
  <div class="auth">You already have an account? <a routerLink="/login" class="login-btn">Login</a> </div>
</div>
