<div class="header-logo">
  <div class="circle-container"></div>
  <img class="logo" src="./../../../assets/elephant_logo.png">
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">TUSKER</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login" routerLink="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register" routerLink="/register">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

